.wrapper {
  padding: 10px;
  border: 2px solid #000;
}

details {
  position: relative;
  margin: 0;
  border-top: 1px solid #000;
}

details:first-child {
  border-top: 0;
}

summary {
  padding: 10px;
  outline: 0;
}

summary::-webkit-details-marker {
  display: none;
}

details p {
  position: absolute;
  background-color: #fff;
  border: 1px solid #000;
  top: calc(100% - 10px);
  right: 10px;
  width: 60%;
  padding: 10px;
  margin: 0;
  display: none;
  z-index: 1;
}

.context-button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

summary:after {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid #000;
  padding: 2px;
  font-size: 9px;
  background-color: #fff;
}

summary:hover:after {
  content: 'open'
}

details[open] summary:after {
  content: 'close';
}

/* do something here */

details[open] p {
  display: block;
}

/**
 * <해설>

HTML5의 details 태그를 활용하면 팝오버 오픈을 위한 처리를 자바스크립트가 관여하지 않아도 되므로 코드가 훨씬 간결해진다.

 */