ul, ol {
    list-style: none;
}

li {
    margin-bottom: 50px;
}

li img {
    width: 100%;
}

.custom-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99999;
}

.custom-modal.active {
    display: block;
}

.custom-modal .layer {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
}

.custom-modal .layer .wrap {
    background-color: white;
}

.custom-modal .layer .profile {
    padding: 20px;
    margin-bottom: 10px;
}

.custom-modal .layer .profile img {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.custom-modal .layer .profile .info h4 {
    font-size: 15px;
    margin-right: 5px;
}

.custom-modal .layer .profile .info p {
    font-size: 12px;
    margin: 0;
}
