body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.instant-search-container {
    position: relative;
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    padding: 10px;
    background-color: darkseagreen;
}

.instant-search-input {
    width: 200px;
    border: none;
    outline: 0px solid transparent;
}

.table-container {
    position: relative;
    border: 1px solid #000;
    padding: 10px;
}
