body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
}

.chips-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.chips-item {
    display: inline-flex;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 8px;
    padding-left: 12px;
    border: solid 1px #ccc;
    margin-right: 5px;
    border-radius: 10px;
}

.chips-label {
    margin-right: 5px;
}

.chips-close {
    cursor: pointer;
    background-color: #aaa;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    vertical-align: middle;
    text-align: center;
    line-height: 17px;
    display: inline-block;
}

.chips-input {
    width: 150px;
    background: transparent;
    color: currentColor;
    border: none;
    outline: none;
    padding: 0;
    max-width: 100%;
    vertical-align: bottom;
    text-align: inherit;
}