html,
body,
#app {
}
#app {
  display: grid;
  margin: 0;
  height: 100%;
  span {
    position: absolute;
    width: 100%;
    text-align: center;
    top: 100px;
    font-size: 2rem;
  }
  section {
    justify-self: center;
    align-self: center;
    display: inline-flex;
    position: relative;
    height: 35px;
    .stars {
      height: 52px;
      cursor: pointer;
      svg {
        width: 48px;
        height: 48px;
        padding: 2px;
        position: relative;
        pointer-events: none;
      }
    }
    .reset {
      margin-left: 8px;
      width: 24px;
      height: 24px;
      padding: 14px;
      cursor: pointer;
    }
  }
}
