*,
*::after,
*::before {
    box-sizing: border-box;
}

body {
    font-family: 'Source Code Pro', monospace;
}

.title {
    color: #db5b33;
    font-weight: 300;
    text-align: center;
}

.stopwatch {
    text-align: center;
    font-size: 3em;
    padding: 30px;
}

.control {
    width: 120px;
    padding: 5px;
    margin: 15px;
    font-size: 36px;
    font-weight: bold;
    border: 2px solid #f44336;
    border-radius: 4px;
    cursor: pointer;
    outline: none;
}

.control:hover:enabled {
    background: #f44336;
    color: aliceblue;
}

.control:disabled {
    color: gray;
    cursor: not-allowed;
}

.laps {
    display: grid;
    grid-template-columns: 70px 1fr;
    column-gap: 50px;
    row-gap: 10px;
    width: 260px;
    margin: 10px auto;
    font-size: 0.5em;
    display: none;
}