body {
    width: 100%;
    height: 100%;
    margin: 0px;
}

.container {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 20px;
}

.toggle-button-container {
    position: relative;
    display: inline-flex;
    border: 1px solid rgba(0,0,0,.32);
    border-radius: 5px;
}

.toggle-button {
    border: 0;
    background: none;
    padding: 0;
    margin: 0;
    font: inherit;
    outline: none;
    width: 100%;
    cursor: pointer;
}

.toggle-button.select {
    background-color: #ccc;
}

.toggle-button > span {
    display: inline-block;
    padding: 0 12px;
    line-height: 48px;
    position: relative;
}

.toggle-button > span.border {
    border-left: 1px solid rgba(0,0,0,.32);
}
