* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #ffffff;
}

ul {
  width: 1024px;
  margin: 80px auto;

  li {
    border: solid 1px #000000;
    padding: 15px;
    margin-bottom: 15px;
  }
}
