*,
*:after,
*:before {
  box-sizing: border-box;
}

body {
  font-family: 'Open Sans';
  font-weight: 300;
  background-color: #d6e1e5;
}

.title {
  color: #db5b33;
  font-weight: 300;
  text-align: center;
}

.tabs {
  --tab-width: 200;
  --tabs-length: 0;
  width: calc(var(--tab-width) * var(--tabs-length) * 1px);
  margin: 0 auto;
  box-shadow: 0 7px 8px -4px rgba(0, 0, 0, 0.2), 0 13px 19px 2px rgba(0, 0, 0, 0.14),
    0 5px 24px 4px rgba(0, 0, 0, 0.12);
  border-radius: 5px;
  overflow: hidden;
}

.tabs>nav {
  display: flex;
  position: relative;
  background-color: #f2f2f2;
}

.tab {
  width: calc(var(--tab-width) * 1px);
  height: 60px;
  line-height: 60px;
  text-align: center;
  cursor: pointer;
  transition: color 0.15s ease-in;
  z-index: 1000;
}

.glider {
  position: absolute;
  top: 0;
  left: 0;
  height: 60px;
  width: calc(var(--tab-width) * 1px);
  background-color: #fff;
  transition: 0.25s ease-out;
}

.tab-content {
  min-height: 300px;
  line-height: 2.5;
  background-color: #fff;
  padding: 20px;
  display: none;
}

.tab-content.active {
  display: block;
}

.spinner {
  position: fixed;
  top: 20%;
  left: 50%;
  transform: translate3D(-50%, 0, 0);
  width: 50px;
}